@import '../theme.scss';

@keyframes SentIcon {
  0% {
    width: 0;
    height: 0;
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.ContactForm {
  text-align: left;
}

@media (min-width: 768px) {
  .CheckIcon {
    animation: SentIcon 0.9s;
    width: 3vw;
    height: 3vw;
  }

  .ContactContainer {
    text-align: center;
    position: relative;
    font-family: $font;
    left: 27.5vw;
    margin: 4vw 0 5vw;
    min-height: calc(100vh - 96px - 159px - 9vw);
  }

  .NameInputContainer {
    display: flex;
    width: 45vw;
    flex-direction: row;
  }

  .NameInput {
    flex: 1;
    height: 3vw;
    font-family: $font;
    font-size: 1.5vw;
    margin-bottom: 1vw;
    border: 1px black solid;
    background: #f5f5f5;
  }

  .FormInput {
    width: 45vw;
    height: 3vw;
    font-family: $font;
    font-size: 1.5vw;
    margin-bottom: 1vw;
    border: 1px black solid;
    background: #f5f5f5;
  }

  .MessageInput {
    width: 45vw;
    height: 8vw;
    font-family: $font;
    font-size: 1.5vw;
    border: 1px black solid;
    resize: vertical;
    margin-top: 1vw;
    background: #f5f5f5;
  }
}

@media (max-width: 767px) {
  .CheckIcon {
    animation: SentIcon 0.9s;
    width: 10vw;
    height: 10vw;
  }

  .ContactContainer {
    text-align: center;
    position: relative;
    font-family: $font;
    margin: 4vw 0 10vw;
    min-height: calc(100vh - 96px - 159px - 14vw);
  }

  .ContactForm {
    width: 90vw;
    margin: 0 5vw;
  }

  .NameInputContainer {
    display: flex;
    flex-direction: row;
  }

  .NameInput {
    flex: 1;
    height: 10vw;
    width: 40vw;
    font-family: $font;
    font-size: 5vw;
    margin-bottom: 3vw;
    border: 1px black solid;
    background: #f5f5f5;
  }

  .FormInput {
    width: 90vw;
    height: 10vw;
    font-family: $font;
    font-size: 5vw;
    margin-bottom: 3vw;
    border: 1px black solid;
    background: #f5f5f5;
  }

  .MessageInput {
    width: 90vw;
    height: 20vw;
    font-family: $font;
    font-size: 5vw;
    border: 1px black solid;
    resize: vertical;
    margin-top: 3vw;
    background: #f5f5f5;
  }
}
