@import '../theme.scss';

@keyframes SentIcon {
  0% {
      width: 0px;
      height: 0px;
      transform: rotate(-270deg);
  }
  100% {
      transform: rotate(0deg);
  }
}

.Contact {
  animation: FadeIn 1s;
}

@media (min-width: 768px) {
  .CheckIcon {
    animation: SentIcon 0.9s;
    width: 48px;
    height: 48px;
  }

  .ContactContainer {
    text-align: center;
    position: relative;
    font-family: $font;
    margin-left: 27.5vw;
    margin-top: 4vw;
    min-height: calc(100vh - 106px - 159px - 4vw);
  }

  .ContactForm {
    text-align: left;
  }

  .NameInputContainer {
    display: flex;
    width: 45vw;
    flex-direction: row;
  }

  .NameInput {
    flex: 1;
    height: 2vw;
    font-family: $font;
    font-size: 1vw;
    margin-bottom: 1vw;
    border: 1px black solid;
    background: #f5f5f5;
  }

  .FormInput {
    width: 45vw;
    height: 2vw;
    font-family: $font;
    font-size: 1vw;
    margin-bottom: 1vw;
    border: 1px black solid;
    background: #f5f5f5;
  }

  .MessageInput {
    width: 45vw;
    height: 4vw;
    font-family: $font;
    font-size: 1vw;
    border: 1px black solid;
    resize: vertical;
    margin-top: 1vw;
    background: #f5f5f5;
  }
}

@media (max-width: 767px) {
  .CheckIcon {
    animation: SentIcon 0.9s;
    width: 10vw;
    height: 10vw;
  }

  .ContactContainer {
    text-align: center;
    position: relative;
    font-family: $font;
    margin-top: 4vw;
    min-height: calc(100vh - 106px - 159px - 4vw);
  }

  .ContactForm {
    text-align: left;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
  }

  .NameInputContainer {
    display: flex;
    flex-direction: row;
  }

  .NameInput {
    flex: 1;
    height: 10vw;
    width: 40vw;
    font-family: $font;
    font-size: 5vw;
    margin-bottom: 3vw;
    border: 1px black solid;
    background: #f5f5f5;
  }

  .FormInput {
    width: 90vw;
    height: 10vw;
    font-family: $font;
    font-size: 5vw;
    margin-bottom: 3vw;
    border: 1px black solid;
    background: #f5f5f5;
  }

  .MessageInput {
    width: 90vw;
    height: 20vw;
    font-family: $font;
    font-size: 5vw;
    border: 1px black solid;
    resize: vertical;
    margin-top: 3vw;
    background: #f5f5f5;
  }
}