@import '../theme.scss';

.ContactContainer {
    padding-top: 10vw;
    text-align: center;
    position: relative;
    min-height: 100vh;
    font-family: $font;
    background: #1a1a1a;
    color: white;
}

.ContactText {
    color: white;
}