$accent: #ff3333;

.skill-icon {
  width: 32px;
  height: 32px;
  margin-right: 12px;
}

.accent-bar {
  background: $accent;
  height: 5px;
  margin-bottom: 8px;
}

@media (min-width: 768px) {
  $imageratio: 9/16;

  .hero-image {
    width: 100vw;
    height: $imageratio * 100vw;
    object-fit: cover;
    object-position: 100% 0;
  }

  .hero-content {
    height: $imageratio * 100vw;
  }
}

@media (max-width: 767px) {
  .hero-image {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }

  .hero-content {
    height: 100vh;
  }
}
