@import '../theme.scss';

@media (min-width: 768px) {

    .ProjectsContainer {
        text-align: center;
        position: relative;
        font-family: $font;
        height: calc(100vh - 159px - 96px - 10vw)
    }
}

@media (max-width: 767px) {
    .ProjectsContainer {
        text-align: center;
        position: relative;
        font-family: $font;
        height: calc(100vh - 159px - 96px - 14vw)
    }
}