@import '../theme.scss';

@media (min-width: 768px) {
    .CubingContainer {
        font-family: $font;
        text-align: center;
        width: 80vw;
        margin-left: 10vw;
        min-height: calc(100vh - 106px - 159px);
    }

    .SpeedcubingText {
        text-align: left;
        margin-bottom: 4vw;
    }

    .YTimage {
        width: 26vw;
        cursor: pointer;
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
    }
    .YTtitle {
        font-family: $font;
        font-weight: bold;
        font-size: 1.2vw;
        color: black;
        text-align: left;
    }

    .imageContainer {
        position: relative;
        text-align: center;
        display: block;
        border: none;
        outline: none;
        background: transparent;
        padding: 0;
    }

    .imageContainer:hover, .imageContainer:focus {
        cursor: pointer;
        .YTimage {
            opacity: 0.8;
        }
        .playArrow {
            opacity: 0.9;
        }
    }

    .YTgrid {
        display: grid;
        margin-bottom: 4vw;
        grid-template-columns: repeat(3,26vw);
        gap: 1vw;
    }

    .playArrow {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    .custom-modal {
        display: flex;
        text-align: center;
        justify-content: center;
        top: 10vw !important;
    }

    .videoPlayer {
        width: 50vw;
        height: calc(50vw * 9/16);
    }

}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .CubingContainer {
        padding-top: 12vw;
        padding-left: 5vw;
        padding-right: 5vw;
        min-height: 100vh;
        font-family: $font;
        background: #1a1a1a;
    }
    .YTimage {
        width: 26vw;
        border-radius: 15px;
        cursor: pointer;
        opacity: 1;
        transition: opacity 0.3s ease;
    }

    .YTtitle {
        font-weight: bold;
        color: white;
    }

    .imageContainer {
        position: relative;
        text-align: center;
        display: block;
    }

    .imageContainer:hover {
        cursor: pointer;
        .YTimage {
            opacity: 0.5;
        }
        .playArrow {
            opacity: 1;
        }
    }

    .YTgrid {
        display: grid;
        grid-template-columns: repeat(3,28vw);
        gap: 1rem;
    }

    .playArrow {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .custom-modal {
        display: flex;
        text-align: center;
        justify-content: center;
        top: 10vw !important;
    }

    .videoPlayer {
        width: 50vw;
        height: calc(50vw * 9/16);
    }

    .SpeedcubingH1 {
        font-size: 3vw;
        font-weight: bold;
        color: white;
    }

    .SpeedcubingText {
        color: white;
    }

    .SpeedcubingCard {
        color: white;
        background: #303030;
        border-radius: 25px;
        box-shadow: 5px 5px black;
        padding: 2vw;
        font-family: $font;
    }

    .Video {
        padding: 1vw;
    }

    .TallCard {
        grid-row: span 2 / auto;
    }

    .LongCard {
        grid-column: span 2 / auto;
    }

}

@media (max-width: 767px) {
    .CubingContainer {
        padding-top: 5vw;
        padding-left: 5vw;
        padding-right: 5vw;
        min-height: 100vh;
        font-family: $font;
        background: #1a1a1a;
    }
    .YTimage {
        width: 80vw;
        border-radius: 15px;
        cursor: pointer;
        opacity: 1;
        transition: opacity 0.3s ease;
    }

    .YTtitle {
        font-weight: bold;
        color: white;
    }

    .imageContainer {
        position: relative;
        text-align: center;
        display: block;
    }

    .imageContainer:hover {
        cursor: pointer;
        .YTimage {
            opacity: 0.5;
        }
        .playArrow {
            opacity: 1;
        }
    }

    .YTgrid {
        display: block;
    }

    .playArrow {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .custom-modal {
        display: flex;
        text-align: center;
        justify-content: center;
        top: 10vw !important;
    }

    .videoPlayer {
        width: 50vw;
        height: calc(50vw * 9/16);
    }

    .SpeedcubingH1 {
        font-size: 7.5vw;
        font-weight: bold;
        color: white;
    }

    .SpeedcubingText {
        color: white;
    }

    .SpeedcubingCard {
        color: white;
        background: #303030;
        border-radius: 25px;
        box-shadow: 5px 5px black;
        padding: 8vw;
        font-family: $font;
        margin-top: 5vw;
    }

    .Video {
        padding: 5vw;
    }
}