.modal-body-custom {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.modal-custom {
  max-width: 70vw !important;
}

.video-player {
  width: 65vw;
  height: 9/16 * 65vw;
}

.image-container {
  position: relative;
  text-align: center;
  display: block;
  border: none;
  outline: none !important;
  background: transparent;
  padding: 0;

  &:focus,
  &:hover {
    cursor: pointer;
    .yt-image {
      opacity: 0.8;
    }
    .play-arrow {
      opacity: 0.9;
    }
  }
}

.yt-image {
  transition: opacity 0.3s ease-in-out;
}

.play-arrow {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.modal-content {
  border-radius: 0;
}

@media (max-width: 767px) {
  .modal-custom {
    display: none !important;
  }
}
