    .ContactContainer {
        padding-top: 10vw;
        text-align: center;
        position: relative;
        min-height: 100vh;
        font-family: Ubuntu;
        background: #1a1a1a;
        color: white;
    }

    .ContactText {
        color: white;
    }