@import '../theme.scss';

@media (min-width: 768px) {
    .FooterContainer {
        width: 100vw;
        text-align: center;    
        padding: 40px;
        bottom: 0;
        font-family: $font;
    }

    .footer-link {
        margin-left: 1vw;
        margin-right: 1vw;
        transition: opacity 0.3s ease-in-out;
        opacity: 1;
        &:hover {
            opacity: 0.6;
        }
    }
}

@media (max-width: 767px) {
    .FooterContainer {
        width: 100vw;
        text-align: center;    
        padding: 40px;
        bottom: 0;
        font-family: $font;
    }

    .footer-link {
        margin-left: 1vw;
        margin-right: 1vw;
    }
}