@import '../theme.scss';

.FooterContainer {
  width: 100vw;
  text-align: center;
  padding: 40px;
  bottom: 0;
  font-family: $font;
}

@media (min-width: 768px) {
  .footer-link {
    margin: 0 1vw;
    transition: opacity 0.3s;
    opacity: 1;
    &:hover {
      opacity: 0.6;
    }
  }
}

@media (max-width: 767px) {
  .footer-link {
    margin: 0 2.5vw;
  }
}
