@media (min-width: 768px) {
    .FooterContainer {
        width: 100%;
        text-align: center;    
        background: #1a1a1a;
        padding: 5vw;
        bottom: 0;
        font-family: Heebo;
    }

    .footer-link:hover {
        transition: 0.5s;
        color: #bababa !important;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .FooterContainer {
        width: 100%;
        text-align: center;    
        background: #1a1a1a;
        padding: 5vw;
        bottom: 0;
        font-family: Heebo;
    }
}

@media (max-width: 767px) {
    .FooterContainer {
        width: 100%;
        text-align: center;    
        background: #1a1a1a;
        padding: 5vw;
        bottom: 0;
        font-family: Heebo;
    }
}