@import './hamburgers.scss';

.menu-icon {
  margin-right: 5px;
  margin-bottom: 2px;
  width: 24px;
  height: 24px;
}

.navlink-custom {
  text-decoration: none !important;
}

.active-link {
  .underline-dark:before,
  .underline-light:before {
    visibility: visible;
    transform: scaleX(1);
  }
}

.navlink-custom:hover {
  color: inherit;

  .underline-dark:before,
  .underline-light:before {
    visibility: visible;
    transform: scaleX(1);
  }
}

.white-link {
  color: white !important;
}

@media (min-width: 768px) {
  .menu-container {
    margin-left: 7.5vw;
    width: 80vw;
  }

  .navlink-custom {
    color: black;
    text-transform: uppercase;
    font-size: 14px;
    margin-right: 1rem;
  }
}

@media (max-width: 767px) {
  .menu-container {
    width: 100vw;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .navbar-toggler {
    outline: none;
    background-color: #ffffff00 !important;
    left: 86.5vw;
    top: 5.35vw;
    height: 8vw;
  }

  .navlink-custom {
    color: black;
    text-transform: uppercase;
    font-size: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .active-link {
    text-decoration: underline !important;
    text-underline-offset: 2px;
  }
}
