@import '../theme.scss';

.AdminContainer {
    padding-top: 5vw;
    padding-left: 5vw;
    padding-right: 5vw;
    min-height: 100vh;
    font-family: $font;
    background: #1a1a1a;
}

.jon-editor {
    min-height: 150px;
    background: white;
    margin-bottom: 2vw;
}