@import '../theme.scss';

.AdminContainer {
    padding-top: 5vw;
    padding-left: 5vw;
    padding-right: 5vw;
    font-family: $font;
}

.jon-editor {
    min-height: 150px;
    margin-bottom: 2vw;
    border: 1px solid black;
}