$font: Work Sans;
$font2: Raleway;

.White {
    color: white !important;
}

@keyframes FadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (min-width: 768px) {
    .ActionButton, .ActionButton2 {
        padding: 1em 1.5em;
        font-size: 1.2vw;
        font-family: $font;
        text-transform: uppercase;
        font-weight: bold;
        border-width: 0;
        margin-top: 2vw;
        color: black;
        background: white;
        cursor: pointer;
    }

    .ActionButton2 {
        background: black;
        color: white;

        &:disabled {
            background: grey;
            cursor: default;
        }
    }
    
    .ActionButton:hover, .ActionButton2:hover {
        .Underline:before, .Underline2:before {
            visibility: visible;
            transform: scaleX(1);
        }
    }
    
    .Underline, .Underline2 {
        position: relative;
    }
    
    .Underline:before, .Underline2:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: -2px;
        left: 0;
        background: black;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out;
    }

    .Underline2:before {
        background: white;
    }

    .Header1 {
        font-family: $font2;
        text-transform: uppercase;
        font-weight: lighter;
        font-size: 4vw;
        color: black;
        text-align: center;
    }

    .Header2 {
        font-weight: bold;
        font-size: 2vw;
        font-weight: lighter;
        font-family: $font2;
        text-transform: uppercase;
        margin-top: 4vw;
    }

    .Big {
        font-size: 3vw;
    }

    .Small {
        font-size: 1.3vw;
    }

    .Text1 {
        font-family: $font;
        font-size: 1.5vw;
        color: black;
    }

    .Text2 {
        font-family: $font;
        font-size: 1.2vw;
        color: black;
    }

    .CardArea {
        margin-left: 5vw;
        display: grid;
        gap: 1vw;
        grid-template-columns: repeat(2, 39.5vw);
    }

    .Card {
        color: white;
        background: black;
        font-family: $font;
        background-size: cover;
        text-align: center;
    }
}

@media (max-width: 767px) {
    .ActionButton, .ActionButton2 {
        transition: 0.5s;
        padding: 1em 1.5em;
        font-size: 4vw;
        font-family: $font;
        text-transform: uppercase;
        font-weight: bold;
        border-width: 0;
        margin-top: 4vw;
        color: black;
        background: white;
        cursor: pointer;
    }

    .ActionButton2 {
        background: black;
        color: white;

        &:disabled {
            background: grey;
            cursor: default;
        }
    }
        
    .Underline, .Underline2 {
        position: relative;
    }
    
    .Underline:before, .Underline2:before {
        display: none;
    }

    .Header1 {
        font-family: $font;
        font-weight: 200;
        font-size: 12vw;
        color: black;
    }

    .Header2 {
        margin-top: 12vw;
        font-weight: bold;
        font-size: 6vw;
        font-weight: lighter;
        font-family: $font2;
        text-transform: uppercase;
    }

    .Big {
        font-size: 7vw;
    }

    .Small {
        font-size: 5vw;
    }

    .Text1 {
        font-family: $font;
        font-size: 4vw;
        color: black;
        width: 90vw;
    }

    .Text2 {
        font-family: $font;
        font-size: 3vw;
        color: black;
    }

    .CardArea {
        margin-left: 5vw;
        display: grid;
        gap: 1vw;
        grid-template-columns: repeat(2, 39.5vw);
    }

    .Card {
        color: white;
        background: black;
        font-family: $font;
        background-size: cover;
        text-align: center;
    }

    .CardsArea {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(1, 90vw);
        padding: 5vw;
    }

    .CardTitle {
        font-weight: bold;
        font-size: 1.5vw;
        font-family: $font;
    }

    .Card {
        color: white;
        background: black;
        padding: 2vw;
        font-family: $font;
        background-size: cover;
    }
}