@use './hamburgers.scss';

.light-link {
  color: white !important;
}

.dark-link {
  color: black !important;
}

.logo {
  height: 80px;
  margin-right: 2vw;
}

.menu-icon {
  margin-right: 5px;
  margin-bottom: 2px;
}

.active-link {
  .underline-dark:before,
  .underline-light:before {
    visibility: visible;
    transform: scaleX(1);
  }
}
@media (hover: hover) {
  .navlink-custom:hover {
    color: inherit;

    .underline-dark:before,
    .underline-light:before {
      visibility: visible;
      transform: scaleX(1);
    }
  }
}

@media (min-width: 768px) {
  .navlink-custom {
    font-size: 14px;
    margin-right: 1rem;
  }
}

@media (max-width: 767px) {
  .navbar-toggler {
    outline: none;
    background-color: #ffffff00 !important;
    left: 86.5vw;
    top: 5.35vw;
    height: 8vw;
  }

  .navlink-custom {
    font-size: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .active-link {
    text-decoration: underline !important;
    text-underline-offset: 2px;
  }
}
